.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.page-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.cart-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-price {
  font-size: 14px;
  color: #888;
}

.delete-button
{
  background-color: transparent;
  color: #e01414;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}



.cart-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

.total-label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.total-amount {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.pay-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.pay-button:hover {
  background-color: #c0392b;
}
