.has-error{
    border-color: brown;
    }
    .my-css{
      margin-left: 40%;
    margin-top: 3%;
    }
    .btn{
margin-left: 10%;
        width: 15vb;
    border-width: 4px;
    border-color: brown;
    color: brown;
    }
    .form-control{

      border-width: 4px;

width: 14rem;
height: 3rem;

  }
    .page-title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
      }
      #valid{
        color: brown;
     font-size: 11px;
     
     
       }
       .center{
        margin-left: 5%;
        
        
              }